<!DOCTYPE html>
<html>
<head>
  <title>WasabiSiteScoop</title>
  <%= stylesheet_link_tag    "wasabi_site_scoop/application", media: "all" %>
  <%= javascript_include_tag "wasabi_site_scoop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
